@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --base-color-1: rgb(1, 1, 22);
    --secondary: rgb(88, 88, 88);
    --base-color-2: rgba(63, 68, 50, 0.432); 
    --primary: rgb(238, 29, 98);
    --primary-opaque:rgba(82, 68, 77, 0.438); 
    --primary-opaque-light: rgba(211, 203, 208, 0.438);
    --black: black;
    --candy: rgb(238, 29, 98);
    --candy-opaque: rgba(238, 29, 99, 0.658);
    --white: white; 
    --blue-kiss: rgb(161, 172, 192);

    --big-container:  75%;
    --medium-container:  86%;
    --mini-container:  96%;

    --transition: all 800ms ease;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}



body{
     /**background: linear-gradient(transparent);
 font-family: 'Allura', cursive;
font-family: 'Comic Neue', cursive;
font-family: 'Diphylleia', serif;
background-image: url('./assets/photos/dark-green.jpg'); 
**/
    background: var(--base-color-1);
    font-family: 'Roboto', sans-serif;
    color: white;
    line-height: 2;
    background-size: contain;
}

/** INHERITED **/
.container{
    width: var(--big-container);
    margin: 0 auto; /** middle **/
}

h1, h2, h3, h4, h5 ,h6 {
    font-weight: 300;
}



section{
    margin-top: 2rem;
}

section > h2, section > h5 {
    text-align: center;
}

section > h2 {
    color: var(--primary);
    margin-bottom: 5rem;
}

.candy{
    color: var(--candy);
}
.white{
    color: var(--white) !important;
}


 

.btn{
    width: max-content; /** each button will be the size of its content **/
    max-width: 58%;
    display: inline-block;
    padding: 0.75rem 1rem; /** top bottom left right **/
    border-radius: 0.5rem;
    cursor: pointer;
    transition: var(--transition);
    font-size: 2rem;
} 

.btn:hover{
    transition: 200ms ease;
    padding: 0.8rem 1.1rem;
}

.btn-main{
    background: var(--primary);
    color: var(--white);
}

.btn-secondary{
    color: rgba(250, 245, 245, 0.781);;
    background: rgb(19, 19, 49);
    border: transparent;
}

.btn-main:hover{
    color: black;
    background: var(--white);
}
.btn-secondary:hover{
    background: transparent;
    color:  white;
    border: 1px solid var(--primary);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/** h **/

#header{
    
}
header{
    padding-top: 3rem;
    height: 100vh;
    
}



header h1{
    transition: 300ms ease;
    margin-bottom: 0;
    font-size: 5.9rem;
}
header h1:hover{
    font-size: 6.15rem;
    
}

.hey{
    line-height: 1rem;
    position: relative;
    top: 2.2rem;
    transition: 300ms ease;
    font-size: 2rem;
}

.hey:hover{
    letter-spacing: 0.05rem;
}



.header-container{
    text-align: center;
    height: auto;
    position: relative;
}

.header-description{
    position: relative;
    top: -2.9rem;
    color: var(--white);
    font-size: 1.2rem;
    transition: 300ms ease;
    letter-spacing: 0.05rem;
}
.header-description:hover{
    letter-spacing: 0.1rem;

    span{
        font-size: 2.3rem;
    }

    /** background: linear-gradient(
         #e94809,
         #2d07b4,
         #03cc3f 
       );
     background-clip: text;    
     color: transparent; **/
}
h5 > span{
    /** because transform is ignored in inline elements */
    display: inline-block;
    transform: rotate(30deg);
    color: aquamarine;
    font-size: 1.5rem;
    transition: 500ms ease;
}


.tagline{
    transition: 300ms ease;
    font-size: 2.6rem;
    position: relative;
    top: -2.7rem;
    line-height: 2rem;
}

.tagline:hover{
    letter-spacing: 0.05rem;
}

.main-img-div{
    background: linear-gradient(var(--primary), transparent); /** ombre **/
    width: 20rem;
    height: 18rem;
    position: absolute;
    /** two ways to center)**/
    left: 50%; /** left: calc (50% - 10rem)  based on width **/
    transform: translateX(-50%);

    margin-top: 1.5rem;
    border-radius: 10rem 10rem 10rem 10rem ; /** this gives it a dome shape */

    overflow: hidden;
    padding: 3rem 2rem 2rem 2rem;

    transition: 600ms ease;

    
}

.main-img-div:hover{
    background: linear-gradient(var(--primary), rgb(58, 23, 184));
    margin-top: 1.3rem;
   
}

.cta{
    margin-top: 0rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.header-social-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0rem;
    top: 18rem;

}
.header-social-media:hover{
    gap: 1.2rem;
}


.header-social-media::after{
    content: '';
    width: 1px;
    height: 3rem;
    background: var(--white);
    transition: 300ms ease;
}

.header-social-media:hover::after{
    background: var(--primary);
}

.sm{
    color: var(--white);
    transition: 300ms ease;
}

.sm:hover{
    color: var(--primary) !important;
}

.out:hover{
    transform: rotate(-10deg);
}

.in:hover{
    transform: rotate(10deg);
}


.scroll{
    color: var(--primary);
    position: absolute;
    right: -2rem;
    top: 20rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 1.3rem;
    transition: 200ms ease;
}

.scroll:hover{
    letter-spacing: 0.01rem;
}
/** MEDIA QUERIES **/

/** MED / TABLET **/
@media screen and (max-width: 1024px) {
      /**inherited **/
    .container {
        width: var(--medium-container);
    }
    section {
        margin-top: 8rem ;
    }
        /** **/
    header {
     height: 90vh;
    }
    .btn{
     font-size: 1.5rem !important;
    }

 }
 
 /** SMALL / TABLET **/
 @media screen and (max-width: 600px) {
       /**inherited **/
       .container {
        width: var(--mini-container);
    }
    section > h2 {
        margin-bottom: 2rem ;
    }
        /** **/
     header{
         height: 100vh;
     }
     header h1{
         font-size: 3.8rem;
     }
     header h1:hover{
        font-size: 4rem;
    }
     .hey{
        position: relative;
        top: 0.5rem;
     }
     .header-description{
        position: relative;
        top: -2rem;
        font-size: 1rem;
     }
     .tagline{
        margin-top: 1rem;
       line-height: 4rem;
       font-size: 1.6rem;
     }
     .header-social-media, .scroll{
         display: none !important;
     }
     .btn{
         font-size: 1.3rem !important;
        }
   
 }

  /** MINI  **/
  @media screen and (max-width: 475px) {
    .btn{
        font-size: 1rem !important;
       }
  }